html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#authorize_button{
    margin-right: 10px;
}

#input_group{
    margin-left: 10px;
    margin-top: 10px;
}

#content{
    margin-top: 10px;
    margin-left: 10px;
}

#document_id{
    width: 30%;
}

#buttons{
    position: absolute;
    bottom: 20px;
    left: 10px;
}

#canvas{
    height: 100%;
    width: 100%
}

.btn {
    box-shadow: none !important;
    outline: 0;
}

a:link, a:visited {
    color: #222;
}
.div-a{
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
}

.div-a:hover, .div-a:focus {
  border-radius: 4px;
  background-color: lightgray;
}

.list-group-item span {
    border: solid #222;
    border-width: 0 1px 1px 0;
    display: inline;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 0;
    margin-top: 10px;
}

.list-group-item a.btn.collapsed span {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
}

.list-group-item a.btn span {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    transition: .3s transform ease-in-out;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}